.add_button {
  background-color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.4em;
}

.plus {
  background-color: white;
  border-radius: 50%;
  font-size: 1.6em;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 40px;
  user-select: none;
}
