.item {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  list-style: none;
  margin: 1em;
  text-align: center;
  width: 95%;
  height: 400px;
}

.thumbnail {
  margin: 1.5em auto 0;
  width: 250px;
  height: 230px;
}

.item_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.user_name {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.button {
  width: 70%;
  border: 0;
  background-color: gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  outline: 0;
  padding: 0.6em;
}

.button:hover {
  background-color: dimgray;
}

@media (min-width: 500px) {
  .item {
    width: 400px;
  }
}
