.quiz {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 1em;
}

.loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid black;
  border-top: 3px solid red;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
